
.navbar-trans {
    background-color: transparent !important;
}
.navbar-trans.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-trans.navbar-light .navbar-toggler-icon {
    background-color: #fff;
}
